# permissions: 644 root root

[Unit]
Description=HD Radio active pipeline
After=network.target icecast2.service
Requires=icecast2.service

[Service]
Type=simple
EnvironmentFile=/etc/default/hdradio
ExecStart=/usr/local/bin/hd-run

KillSignal=SIGINT
TimeoutStopSec=5
Restart=always
RestartSec=2

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
